// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img{
  position: relative;
}

.tag{
  width: 26px;
  height: 26px;
  border: 5px solid black;
  position: absolute;
}